body{
	padding: 0px;
	margin: 0px;
}
.container{
	width: 100%;
	display: block;
}
.header{
	width: 100%;
	display: block;
}
.header .logo{
	width: 100%;
	display: flex;
}
.header .logo .text{
	text-align: right;
	margin: 0px;
	padding: 0px;
}
.header .menu{
	width: 100%;
	display: flex;
	background-color: #d60640;
}
.header .menu ul{
	display: flex;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.header .menu ul li{
	padding-right: 10px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: solid black 1px;
	cursor: pointer;

}
.header .menu ul li:hover{
	background-color: blue;
}
.header .container-center{
	float: left;
	width: 100%;

}
.main{
	display: flex;
}
.main .main-left{
	width: 65%;
	float: left;
	border-right: solid white;
}
h1{
	color: #797994;
	padding: 10px;
}
.row{
	width: 100%;
	display: flex;
}
.col-4{
	padding: 5px;
	width: 40%;
	float: left;

}
.col-6{
	padding: 5px;
	width: 60%;
	float: left;
}
.col-6 .title{
	padding-bottom: 40px;
	font-family: cursive;
}
.main .main-right{
	width: 35%;
	padding: 0px;
	float: left;
}
.main .main-right .search{
	border: solid white 0px;
	width: 100%;
	display: flex;
}
.main .main-right .search input{
	width: 80%;
	padding: 0px;
	margin: 0px;
}
.main .main-right .search button{
	width: 20%;
	padding: 0px;
	margin: 0px;
}
.align-center {
	width: 70%;
	margin: 0px auto;
	display: flex;
}
.col-3{
	width: 25%;
	float: left;
	padding: 5px;
}
.col-9{
	width: 75%;
	padding-left: 5px;
	float: left;
}
.align-center1 {
	width: center;
	margin: 0px auto
}
.icon{
	display: flex;
	padding: 0px;
	margin: 0px;
}
.icon img{
	padding-left: 5px;
}
.youtube{
	width: 80%;

}
* {
 	text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.row .col-6 .getlink{
		padding-top: 15px; 
}
.row .col-6 .getlink a{
	text-decoration: none;
	color: red;
}