body {
    margin: 0px;
    padding: 0px;
}
.panel-header {
    background-color: black;
    color: white;
    display: flex;
}

.panel-header .menu ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.panel-header .menu ul li {
    padding: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.panel-header .menu ul li:hover {
    background-color: lightgrey;
    color: black;
}

.panel-body {
    margin-top: 30px;
}