body{
	padding: 0px;
	margin: 0px;
}

.header{
	width: 100%;
	display: block;
}

.header .Logo {
    width: 150px;
    display: flex;
}

.header .menu{
	width: 100%;
	display: flex;
	background-color: #9f1616;
    color: white;
}

.header .menu ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header .menu ul li {
    padding: 10px;
    text-indent: 20px;
    border-right: solid 1px gray;
    cursor: pointer;
}

.header .menu ul li:hover {
    background-color: gray;
    color: black;
}

.header .menu ul li::after {
    content: " ▼";
    font-size: 9px;
}


h3 {
    color: gray;
    padding: 10px;
}

.main {
    display: flex;

}

.main .main-left {
    width: 70%;
    float: left;
    /* border: solid gray; */
}

.main .main-left .Power {
    width: 100%;
	display: flex;
}

.main .main-left .PowerQuery {
    padding: 5px;
	width: 40%;
	float: left;
}

.main .main-left .section {
    padding: 5px;
	width: 60%;
	float: left;
}

.section .title {
    padding-bottom: 40px;
	font-family: cursive;
}

.main .main-left .Power .continue {
    color: red;
}
.main .main-left .Power .continue:hover {
    cursor: pointer;
}


.main .main-right {
    width: 30%;
    float: left;
    /* border: solid 2px gray; */
}

.main .main-right .search {
    width: 100%;
    margin-top: 20px;
    display: flex;
    /* border: solid 0px gray; */
}

.Baiviet {
    width: 100px;
}

.imgBV {
    width: 25%;
	float: left;
	padding: 5px;
}

.text {
    width: 75%;
	padding-left: 5px;
	float: left;
}

.main .main-right .section2 {
    width: 100%;
}

.post {
    width: 100%;
	display: flex;
}

.Baiviet {
    width: 40%;
	float: left;
	padding: 5px;
}

.text {
    width: 60%;
	padding-left: 5px;
	float: left;
}

.icon img {
    width: 30px;
    padding: 5px;
    margin-top: 10px;
}

.icon:hover {
    cursor: pointer;
} 

.follow img {
    width: 200px;
}

.follow:hover {
    cursor: pointer;
}





